<plugin>
    <id>lglib</id>
    <name>lgLib</name>
    <description>Provides core javascript, css and functions for other plugins.</description>
    <version>1.0.5</version>
    <glfusionversion>1.6.0</glfusionversion>
    <phpversion>5.6.0</phpversion>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
</plugin>
